#header {
    margin-top: 35px;
    border: solid #6799d2 7px;
    border-radius: 3px;
}

#logo {
    position: absolute;
    margin-left: 400px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    font-size: large;
}

#glyphicons{
    position: absolute;
    border: solid #6799d2 1px;
    border-radius: 2px;
    background-color: #6799d2;
}

#search-bar {
    border: solid #0278ae 7px;
    border-radius: 2px;
    height: 50px;
    border-radius: 7px;
    width: 600px;
    margin-left: 200px;
}

.nav {
    margin-right: 50px;

}

#navigation a {
    color: white;
    background-color: #0278ae;
    border-radius: 5px;
    border: solid rgba(255,255,255,0.1) 1px;
}
#navigation a:hover{
    border: solid white 1px;
    border-radius: 5px;
}

#logo {
    z-index: 3;
}

#navigation {
    z-index: 2;
    width: 1300px;
}

#navright {
    margin-top: -50px;
    padding-left: 50px;
}

img {
    width: 100%;
    height: auto;
}

/* Mise en page texte */

h2 {
    text-decoration: underline;
    color: black;
}

.underline:hover {
    text-decoration: underline;
    color: blue;
    margin-left: 572px;
    position: absolute;
}

#navleft{
    margin-left: 50px;
}

#search-button{
    height: 50px;
    border-radius: 5px;
}
