#header {
    margin-top: 35px;
    border: solid #6799d2 7px;
    border-radius: 3px;
}

#logo {
    position: absolute;
    margin-left: 400px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    font-size: large;
}

#glyphicons{
    position: absolute;
    border: solid #6799d2 1px;
    border-radius: 2px;
    background-color: #6799d2;
}

#search-bar {
    border: solid #0278ae 7px;
    border-radius: 2px;
    height: 50px;
    border-radius: 7px;
    width: 600px;
    margin-left: 200px;

}

.nav {
    margin-right: 50px;

}

#navigation a {
    color: white;
    background-color: #0278ae;
    border-radius: 5px;
    border: solid rgba(255,255,255,0.1) 1px;
}
#navigation a:hover{
    border: solid white 1px;
    border-radius: 5px;
}

#logo {
    z-index: 3;
}

#navigation {
    z-index: 2;
    width: 1300px;
}

#navright {
    margin-left: 572px;
    position: absolute;
}

#navleft{
    position: absolute;
    margin-left: 50px;

}

#search-button{
    height: 50px;
    border-radius: 5px;
}

.div-actu{
    background-color: white;
    padding: 20px 20px 5px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.col-md-8{
    background-color: #0278ae;
    border-radius: 15px;
    margin-top: 20px;
}

h2{
color: black;
text-decoration: underline;
margin-bottom: 30px;

}

.underline{
    color: rgba(125,125,125,0.8);
    text-align: right;
}

#chat{
    background-color: white; 
    text-align: left;
}

#container-chat{
    background-color: #0278ae; 
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.green:before{
    content: "●";
color: green;
}

.orange:before{
    content: "●";
color: orange;
}

.red:before{
content: "●";
color: red;
}

#chat > ul li{
    margin-left: -30px;
}

#left{
    margin-top: 20px;
}

#back-top{
    position: fixed;
    width: 150px;
    height: 60px;
    background-color: #0278ae;
    margin-left: 1150px;
    margin-top: 480px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10
}

.glyphicon-menu-up{
    position: relative;
    color: white;
}
